body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#AW {
    position: relative;
    width: 1522px;
    height: 900px;
    background-color: #000000;
    overflow: hidden;
}

#Rectangle_10 {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background-color: #000000;
}

#Project_Bg_1 {
    position: absolute;
    width: 1522px;
    height: 900px;
    left: 0px;
    top: 0px;
    background-image: url('assets/images/Project\ Bg-+.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.60;
}

#Rectangle_1 {
    position: absolute;
    width: 1166px;
    height: 60px;
    left: 177px;
    top: 85px;
    background-color: #000000;
    border-radius: 15px;
}

#Project_Logo-1 {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 185px;
    top: 88px;
    background-image: url('assets/images/project-logo.png');
    background-size: cover;
}

#Audio_Watermark {
    position: absolute;
    width: 282px;
    height: 24px;
    left: 255px;
    top: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

#Embed_Watermark_Nav {
    position: absolute;
    width: 301px;
    height: 24px;
    left: 569px;
    top: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

#Extract_Watermark_Nav {
    position: absolute;
    width: 321px;
    height: 24px;
    left: 897px;
    top: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

#About {
    position: absolute;
    width: 117px;
    height: 24px;
    left: 1227px;
    top: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

#Download_title {
    position: absolute;
    width: 1000px;
    height: 44px;
    left: 378px;
    top: 330px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 36px;
    line-height: 1.21;
    color: #FFFFFF;
}

#Rectangle_3 {
    position: absolute;
    width: 566px;
    height: 186px;
    left: 477px;
    top: 409px;
    background: linear-gradient(270deg, rgba(29, 180, 161, 1) 0%, rgba(52, 167, 201, 1) 100%);
    opacity: 0.20;
    border-radius: 30px;
}

#Rectangle_4 {
    position: absolute;
    width: 530px;
    height: 150px;
    left: 495px;
    top: 427px;
    background: linear-gradient(270deg, rgba(29, 180, 161, 1) 0%, rgba(52, 167, 201, 1) 100%);
    opacity: 0.40;
    border-radius: 30px;
}

#Rectangle_5 {
    position: absolute;
    width: 492px;
    height: 114px;
    left: 514px;
    top: 445px;
    background: linear-gradient(270deg, rgba(29, 180, 161, 1) 0%, rgba(52, 167, 201, 1) 100%);
    border-radius: 30px;
}

#Download {
    position: absolute;
    width: 442px;
    height: 49px;
    left: 559px;
    top: 485px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 34px;
    line-height: 1.21;
    color: #000000;
}

#Ellipse_1 {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 903px;
    top: 476px;
    background-color: #252525;
    border-radius: 50%;
}

#Project_Arrow_1 {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 900px;
    top: 473px;
    background-image: url('assets/images/project-arrow.png');
    background-size: cover;
    transform: rotate(180deg);
}
