body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#AW {
    position: relative;
    width: 1522px;
    height: 900px;
    background-color: #000000;
    overflow: hidden;
}

#Rectangle_10 {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background-color: #000000;
}

#Project_Bg_1 {
    position: absolute;
    width: 1522px;
    height: 900px;
    left: 0px;
    top: 0px;
    background-image: url('assets/images/Project\ Bg-+.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.60;
}

#Rectangle_1 {
    position: absolute;
    width: 1166px;
    height: 60px;
    left: 177px;
    top: 85px;
    background-color: #000000;
    border-radius: 15px;
}

#Project_Logo-1 {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 185px;
    top: 88px;
    background-image: url('assets/images/project-logo.png');
    background-size: cover;
}

#Audio_Watermark {
    position: absolute;
    width: 282px;
    height: 24px;
    left: 255px;
    top: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

#Embed_Watermark_Nav {
    position: absolute;
    width: 301px;
    height: 24px;
    left: 569px;
    top: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

#Extract_Watermark_Nav {
    position: absolute;
    width: 321px;
    height: 24px;
    left: 897px;
    top: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

#About {
    position: absolute;
    width: 117px;
    height: 24px;
    left: 1227px;
    top: 100px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

#Embed_Watermark_Title {
    position: absolute;
    width: 500px;
    height: 44px;
    left: 584px;
    top: 187px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 36px;
    line-height: 1.21;
    color: #FFFFFF;
}

#Rectangle_3 {
    position: absolute;
    width: 566px;
    height: 186px;
    left: 477px;
    top: 269px;
    background: linear-gradient(270deg, rgba(29, 180, 161, 1) 0%, rgba(52, 167, 201, 1) 100%);
    opacity: 0.20;
    border-radius: 30px;
}

#Rectangle_4 {
    position: absolute;
    width: 530px;
    height: 150px;
    left: 495px;
    top: 287px;
    background: linear-gradient(270deg, rgba(29, 180, 161, 1) 0%, rgba(52, 167, 201, 1) 100%);
    opacity: 0.40;
    border-radius: 30px;
}

#Rectangle_5 {
    position: absolute;
    width: 492px;
    height: 114px;
    left: 514px;
    top: 305px;
    background: linear-gradient(270deg, rgba(29, 180, 161, 1) 0%, rgba(52, 167, 201, 1) 100%);
    border-radius: 30px;
}

#Upload_Oroginal_File {
    position: absolute;
    width: 442px;
    height: 49px;
    left: 549px;
    top: 340px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.21;
    color: #000000;
}

#Upload_Original_Sub {
    position: absolute;
    width: 442px;
    height: 49px;
    left: 549px;
    top: 377px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.21;
    color: #000000;
}

#Ellipse_1 {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 923px;
    top: 336px;
    background-color: #252525;
    border-radius: 50%;
}

#Project_Arrow_1 {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 920px;
    top: 333px;
    background-image: url('assets/images/project-arrow.png');
    background-size: cover;
}

#Rectangle_11 {
    position: absolute;
    width: 566px;
    height: 186px;
    left: 477px;
    top: 492px;
    background: linear-gradient(270deg, rgba(29, 180, 161, 1) 0%, rgba(52, 167, 201, 1) 100%);
    opacity: 0.20;
    border-radius: 30px;
}

#Rectangle_12 {
    position: absolute;
    width: 530px;
    height: 150px;
    left: 495px;
    top: 510px;
    background: linear-gradient(270deg, rgba(29, 180, 161, 1) 0%, rgba(52, 167, 201, 1) 100%);
    opacity: 0.40;
    border-radius: 30px;
}

#Rectangle_13 {
    position: absolute;
    width: 492px;
    height: 114px;
    left: 514px;
    top: 528px;
    background: linear-gradient(270deg, rgba(29, 180, 161, 1) 0%, rgba(52, 167, 201, 1) 100%);
    border-radius: 30px;
}

#Upload_Watermark_File {
    position: absolute;
    width: 442px;
    height: 49px;
    left: 549px;
    top: 563px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.21;
    color: #000000;
}

#Upload_Watermark_Sub {
    position: absolute;
    width: 442px;
    height: 49px;
    left: 549px;
    top: 600px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.21;
    color: #000000;
}

#Ellipse_2 {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 923px;
    top: 559px;
    background-color: #252525;
    border-radius: 50%;
}

#Project_Arrow_2 {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 920px;
    top: 556px;
    background-image: url('assets/images/project-arrow.png'); /* imageRef: 2c1cc671ba734efa3c18d8e20c99c9726fd9978b */
    background-size: cover;
}

#Go_Next {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 1050px;
    top: 393px;
    background-image: url('assets/images/project-arrow.png');
    background-size: cover;
    transform: rotate(90deg);
}