* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.main-container {
    width: 1522px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
    box-sizing: border-box;
}

/* Background Image */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 1522px;
    height: 900px;
    background-image: url('assets/images/Project\ Bg--.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

/* Navigation Bar */
.navbar {
    position: absolute;
    top: 85px;
    left: 177px;
    width: 1166px;
    height: 60px;
    background-color: #000000;
    border-radius: 15px;
    z-index: 10;
}

.nav-logo {
    position: absolute;
    left: 9px;
    top: 3px;
    width: 55px;
    height: 55px;
    object-fit: cover;
    display: block;
}

.nav-link {
    position: absolute;
    top: 15px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.04px;
    text-decoration: none;
    white-space: nowrap;
    height: 28px;
    display: flex;
    align-items: center;
}

.nav-link:first-of-type {
    left: 80px;
    width: 282px;
}

.nav-link:nth-of-type(2) {
    left: 392px;
    width: 301px;
}

.nav-link:nth-of-type(3) {
    left: 720px;
    width: 321px;
}

.nav-link-about {
    left: 1050px;
    width: 117px;
}

/* Main Content */
.main-content {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
}

/* IIT Madras Section */
.iit-section {
    position: absolute;
    top: 191px;
    left: 629px;
}

.iit-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 57px;
    height: 57px;
    object-fit: cover;
    z-index: 2;
    display: block;
}

.iit-text {
    position: absolute;
    top: -19px;
    left: 67px;
    display: flex;
    flex-direction: column;
    width: 195px;
}

.iit-title {
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 82.53px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 195px;
    height: 83px;
    display: flex;
    align-items: flex-start;
    overflow: visible;
}

.iit-subtitle {
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 36.11px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-top: -35px;
    width: 194px;
    height: 36px;
    display: flex;
    align-items: flex-start;
}

/* Hero Section */
.hero-section {
    position: absolute;
    top: 304px;
    left: 423px;
    width: 673px;
}

.hero-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    width: 673px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: visible;
}

.hero-subtitle {
    position: absolute;
    left: 161px;
    top: 111px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    width: 352px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CTA Button Section */
.cta-section {
    position: absolute;
    top: 483px;
    left: 635px;
}

.cta-button {
    width: 250px;
    height: 57px;
    border-radius: 100px;
    border: none;
    background: linear-gradient(90deg, rgba(53, 167, 202, 1) 0%, rgba(29, 181, 161, 1) 100%);
    position: relative;
    cursor: pointer;
    padding: 0;
    overflow: visible;
}

.cta-button:hover {
    background: linear-gradient(90deg, rgb(28, 100, 121) 0%, rgb(21, 120, 107) 100%);
}

.cta-text {
    position: absolute;
    left: 21px;
    top: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.04px;
    color: #000000;
    width: 191px;
    height: 28px;
    display: flex;
    align-items: center;
}

.arrow-wrapper {
    position: absolute;
    top: 0;
    left: 193px;
    width: 57px;
    height: 57px;
}

.arrow-circle {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 52px;
    height: 52px;
    background-color: #252525;
    border-radius: 50%;
    z-index: 1;
    display: block;
}

.arrow-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 57px;
    height: 57px;
    object-fit: cover;
    z-index: 2;
    display: block;
    transform: rotate(90deg);
}

